@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 900px;
  padding: 20px;
  background-color: #eff3f4;
  margin: 0 auto;
}

.pg {
  font-size: 18px;
  line-height: 22px;
  overflow: auto;
  word-break: break-all;
}

.thumb_left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.thumb_right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* 回答はここに書いてね */
