@charset "UTF-8";

/* 回答はここに書いてね */
/* Q7-1 */
.claerfix:after {
  content: "";
  display: block;
  clear: both;
}

.box_q7-1 {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
  float: left;
}

.box_q7-1:first-child {
  margin-left: 0;
}

/* Q7-2 */
.box_q7-2 {
  display: table;
  font-size: 16px;
}

.left_box_q7-2 {
  display: table-cell;
  width: 205px;
  vertical-align: middle;
}

.right_box_q7-2 {
  display: table-cell;
  width: 205px;
  padding-left: 50px;
}

/* Q7-3 */
.box_q7-3 {
  display: inline-block;
  font-size: 16px;
  width: 205px;
  vertical-align: middle;
}

.right_box_q7-3 {
  margin-left: 50px;
}

/* Q7-4 */
.lgbox_q7-4 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.box_q7-4 {
  width: 205px
}

/* Q7-4 */
.const_box {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.var_box {
  display: inline-block;
  padding-left: 350px;
  margin-left: -300px;
  box-sizing: border-box;
  width: 100%;
  vertical-align: top;
}
/* 回答はここに書いてね */
