@charset "UTF-8";

/* 回答はここに書いてね */

.main_tb {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  table-layout: fixed;
}

.main_tb td, .main_tb th {
  border: solid #dedede 1px;
  padding: 10px 0;
  line-height: 26px;
  vertical-align: middle;
}

.main_tb th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
}

.main_tb tr:last-child {
  border-top: dashed #000 2px;
}

.main_tb tr:nth-child(odd) {
  background-color: #ecf1f2;
}

/* 回答はここに書いてね */
